.title{
    font-size: 30px;
    @media screen and (max-width:540px) {
        font-size: 20px;
    }
}
.list{
    width: 75%;
}

.list-item{
    border-bottom: 1px dotted rgba(10, 10, 10, .3) ;
    font-size: 30px;
    @media screen and (max-width:540px) {
        font-size: 15px;
    }
}

.description{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: darkslategray;
    font-weight: bold;
    @media screen and (max-width: 540px) {
        font-size: 10px;
    }

}