.title{
    font-size: 30px;
    animation-name: slide-slightly-to-top;
    animation-duration: 1s;
    @media screen and (max-width:540px) {
        font-size: 20px;
    }
}
.list{
    width: 75%;
    animation-name: slide-in-to-left;
    animation-duration: 3s;
}

.list-item{
    border-bottom: 1px dotted rgba(10, 10, 10, .3);
    font-size: 30px;
    animation-duration: 2.5s;
    @media screen and (max-width:540px) {
        font-size: 15px;
    }
}

.description{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: darkslategray;
    font-weight: bold;
    @media screen and (max-width: 540px) {
        font-size: 10px;
    }
}