.our-page{
    padding-top: 30px;
}
.title{
    font-size: 40px;
}
.list{
    width: 800px;
}

.list-item{
    border-bottom: 5px groove gray;
    font-size: 40px;
}

.description{
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: darkslategray;
    font-weight: bold;

}