.checkout-item-list{
    width: 100%;
    border-bottom: solid 1px black;
    display: flex;
    height: 160px;
        @media screen and (max-width: 1250px) {
            height:140px;
        }
        @media screen and (max-width: 980px) {
            height:120px;
        }
        @media screen and (max-width: 780px) {
            height:80px;
        }
        @media screen and (max-width: 500px) {
            height:60px;
        }
        @media screen and (max-width: 410px) {
            height:50px;
        }
        @media screen and (max-width: 360px) {
            height:45px;
        }
        @media screen and (max-width: 310px) {
            height:40px;
        }
    .img-container{
        width:15%; 
        margin-right: auto;
        margin-left: auto;
        .image{
        height:140px;
        max-width: 180px;
            @media screen and (max-width: 1250px) {
                height:120px;
                max-width: 140px;
            }
            @media screen and (max-width: 980px) {
                height:100px;
                max-width: 110px;
            }
            @media screen and (max-width: 780px) {
                height:70px;
                max-width: 75px;
            }
            @media screen and (max-width: 500px) {
                height:50px;
                max-width: 55px;
            }
            @media screen and (max-width: 410px) {
                height:45px;
                max-width: 50px;
            }
            @media screen and (max-width: 360px) {
                height:40px;
                max-width: 45px;
            }
            @media screen and (max-width: 310px) {
                height:35px;
                max-width: 38px;
            }
        }
    }
    .name,
    .price,
    .quantity{
        width:15%;
        margin-top: 65px;
        font-size: 25px;
        margin-right: auto;
        margin-left: auto;
            @media screen and (max-width: 1250px) {
                font-size: 20px;
                margin-top: 60px;
            }
            @media screen and (max-width: 980px) {
                font-size: 15px;
                margin-top: 55px;
            }
            @media screen and (max-width: 780px) {
                font-size: 12px;
                margin-top: 35px;
            }
            @media screen and (max-width: 500px) {
                font-size: 10px;
                margin-top: 25px;
            }
            @media screen and (max-width: 410px) {
                font-size: 8px;
                margin-top: 22px;
            }
            @media screen and (max-width: 360px) {
                margin-top: 20px;
                font-size: 7px;
            }
            @media screen and (max-width: 310px) {
                font-size: 5px;
                margin-top: 18px;
            }
        }
    .cheese-list,
    .sauce-list{
        margin-top: 65px;
        margin-right: auto;
        margin-left: auto;
        width:15%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background: rgb(179, 178, 178); 
            border-radius: 15px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: rgb(129, 122, 122);
          }
        @media screen and (max-width: 1250px) {
            margin-top: 60px;
        }
        @media screen and (max-width: 980px) {
            margin-top: 55px;
        }
        @media screen and (max-width: 780px) {
            margin-top: 35px;
        }
        @media screen and (max-width: 500px) {
            margin-top: 20px;
        }
        @media screen and (max-width: 410px) {
            margin-top: 15px;
        }
        @media screen and (max-width: 360px) {
            margin-top: 10px;
        }
        @media screen and (max-width: 310px) {
            margin-top: 15px;
        }
        .selected-item{
            font-size: 20px;
            list-style: none;
            border-bottom: solid rgb(226, 223, 223) 1px;

            @media screen and (max-width: 1250px) {
                font-size: 17px;
            }
            @media screen and (max-width: 980px) {
                font-size: 15px;
            }
            @media screen and (max-width: 780px) {
                font-size: 12px;
            }
            @media screen and (max-width: 500px) {
                font-size: 10px;
            }
            @media screen and (max-width: 410px) {
                font-size: 8px;
            }
            @media screen and (max-width: 310px) {
                font-size: 5px;
            }
        }
    }
    .delete-icon{
        width: 5%;
        margin-top: 70px;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
        @media screen and (max-width: 1250px) {
            margin-top: 60px;
            font-size: 17px;
        }
        @media screen and (max-width: 980px) {
            margin-top: 55px;
            font-size: 15px;
        }
        @media screen and (max-width: 780px) {
            font-size: 12px;
            margin-top: 35px;
        }
        @media screen and (max-width: 500px) {
            font-size: 10px;
            margin-top: 25px;
        }
        @media screen and (max-width: 410px) {
            font-size: 8px;
            margin-top: 22px;
        }
        @media screen and (max-width: 280px) {
            font-size: 5px;
            margin-top: 18px;
        }
    }
}