.checkout-item-list{
    width: 100%;
    border-bottom: solid 1px black;
    display: flex;
    height: 160px;
    max-height:160px;
    .img-container{
        width:15%; 
        margin-right: auto;
        margin-left: auto;
        .image{
        height:140px;
        max-width: 180px;

        }
    }
    .name,
    .price,
    .quantity{
        width:15%;
        margin-top: 65px;
        font-size: 25px;
        margin-right: auto;
        margin-left: auto;
        }
    .cheese-list,
    .sauce-list{
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        width:15%;
        overflow: auto;
    }
    .cheese,
    .sauce{
        font-size: 25px;
    }
    .selected-item{
        font-size: 20px;
        list-style: none;
        border-bottom: solid rgb(226, 223, 223) 1px;
    }
    .delete-icon{
        width: 5%;
        margin-top: 70px;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
    }
}