.checkout-item-list{
    width: 100%;
    border-bottom: solid 1px black;
    display: flex;
    align-items: center;
    height: 15vh;
        @media screen and (max-width: 540px) {
            height:8.5vh;
        }
    .img-container{
        width:15%;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: .5%;
        .image{
        height:14vh;
        width: 100%;
        object-fit: fill;
            @media screen and (min-width: 1040px) {
                width: 66.6%;
            }
            @media screen and (max-width: 540px) {
                height: 8vh;
                width: 100%;
            }
        }
    }
    .name,
    .price,
    .quantity,
    .selected-item,
    .delete-icon{
        font-size: 15px;
            @media screen and (max-width: 540px) {
                font-size: 10px;
            }
            @media screen and (max-width: 425px) {
                font-size: 7px;
            }   
    }
    .name,
    .price,
    .quantity{
        width:15%;
        margin-right: auto;
        margin-left: auto;
        }
    .cheese-list,
    .sauce-list{
        margin-right: auto;
        margin-left: auto;
        width:15%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background: rgb(179, 178, 178); 
            border-radius: 15px;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: rgb(129, 122, 122);
          }
        .selected-item{
            list-style: none;
            border-bottom: solid rgb(226, 223, 223) 1px;
        }
    }
    .delete-icon{
        width: 5%;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;
    }
}