.custom-button{
    margin-top: 20px;
    min-width: 165px;
    width: auto;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed';
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    position: flex;
    &.isShopping{
        &:hover{
            background-color: rgb(0, 143, 255);
            color: black;
            border: 1px solid black;
        }
    }
    &.isCheckingout{
        margin-left: 78%;
        &:hover{
            background-color: rgb(109, 109, 109);
        }
    }
}