.custom-button{
    margin-top: 20px;
    min-width: 165px;
    width: auto;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed';
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    position: flex;
    outline: none;
    @media screen and (max-width: 768px) {
        height: 40px;
        min-width: 120px;
        width: auto;
        line-height: 40px;
        margin-top: 15px;
        font-size:10px;
    }
    @media screen and (max-width: 540px) {
        height: 30px;
        min-width: 100px;
        width: auto;
        line-height: 30px;
        margin-top: 10px;
        font-size:8px;
    }
    &.isShopping{
        &:hover{
            background-color: rgb(0, 143, 255);
            color: black;
            border: 1px solid black;
        }
    }
    &.isCheckingout{
        margin-left: 78%;
        &:hover{
            background-color: rgb(109, 109, 109);
        }
        @media screen and (max-width: 768px) {
            margin-left: 75%;
        }
        @media screen and (max-width: 414px) {
            margin-left: 70%;
        }
        @media screen and (max-width: 375px) {
            margin-left: 67%;
        }
        @media screen and (max-width: 320px) {
            margin-left: 62%;
        }
        @media screen and (max-width: 280px) {
            margin-left: 58%;
        }
    }
}