.check-out{
    width: 100%;
    .title{
        font-size: 30px;
        @media screen and (max-width: 540px) {
            font-size: 20px;
        }
    }

    .item-list{
        width: 100%;
        border-bottom: solid 1px black;
        font-size: 20px;
        display: flex;
        @media screen and (max-width: 540px) {
        font-size: 10px;
        }
        .image,
        .name,
        .cheese,
        .sauce,
        .amount,
        .price{
            width: 15%;
            margin-left: auto;
            margin-right: auto;
        }
        .delete-tag{
            width:5%;
        }
    }
    .empty-message{
        font-size: 50px;
        text-align: center;
        display: absolute;
        margin-top: 10vh;
        @media screen and (max-width: 540px) {
            font-size: 30px;
        }
    }
    .total{
        font-size: 25px;
        text-align: right;
        margin-right: 5%;
        @media screen and (max-width: 540px) {
            font-size: 15px;
        }
    }
    .total-price{
        padding-left: 20px;
        @media screen and (max-width: 540px) {
            padding-left: 10px; 
        }
    }
}