.header{
    height: 70px;
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    font-size: 30px;

    @media screen and (max-width: 540px) {
        font-size: 20px;
        height: 50px;
    }
    @media screen and (max-width: 425px) {
        height: 45px;
    }
    @media screen and (max-width: 375px) {
        font-size: 15px;
        height: 40px;
    }
    @media screen and (max-width: 320px) {
        height: 20px;
    }
}
.logo-container{
    font-weight: bold;
    flex-grow: 1;
}
.option{
    padding: 0px 5px;
}