.collection-preview{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .preview{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        width: 100%;
        justify-content: center;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
    }
    .title{
        font-size: 40px;

        @media screen and (max-width: 540px) {
            font-size: 25px;
        }
    }
    .item{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:300px;
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        &:hover{
         opacity: 0.8;
         cursor: pointer;   
        }

        @media screen and (max-width: 1024px ) {
            width:70%;
            height: 200px;
        }

        @media screen and (max-width: 540px) {
            width: 80%;
            height: 25vh;
        }
        @media screen and (max-width: 375px) {
            width: 80%;
            height: 150px;
        }
        @media screen and (max-width: 320px) {
            width: 60%;
            height: 100px;
        }
    }
    .item-info{
        width: 50%;
        height: 5%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Roboto Slab', serif;

        @media screen and (max-width: 1024px) {
            width: 70%;
        }
        @media screen and (max-width: 768px) {
            width: 60%
        }
        @media screen and (max-width: 540px) {
            width: 70%;
            font-size: 20px;
        }
        @media screen and (max-width:425px) {
            font-size: 15px;
        }
        @media screen and (max-width: 320px) {
            font-size: 12px;
            margin-bottom: 10px;
        }
    }
    .item-name{
        width: 60%;
    }
    .item-price{
        text-align: right;
        width: 40%;
    }
}
