.menu{
    width:100%;

    .menu-item{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}



    
//     .burgers{
//         position: relative;
//         width:23%;
//         height:600px;
//         background-repeat: no-repeat;
//         background-size: cover;
//     }

//     .sides{
//         position: relative;
//         width:23%;
//         height:650px;
//         background-repeat: no-repeat;
//         background-size: cover;
//     }
    
// }