.select-item{
    text-align: center;
    width: 100%;
}

.select{
    display: inline-block;
    width:40%;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin-top: 10px;
    position: relative;
}