body {
  font-family: 'Alex Brush', cursive;
  padding: 0;
  margin: 3%;
  flex-wrap: wrap;
  background-color: #fff;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}

/* ALL OF ANIMATIONS ARE HERE */
@keyframes slide-in-to-left {
  from {
      left: 500%;
  }
  to {
      left: 0%;
  }
}

@keyframes slide-slightly-to-top {
  from{
      padding-top: 10%;
  }
  to{
      padding-top: 0%;
  }
}

@keyframes slide-in-to-top {
  from {
      padding-top: 300%;
  }
  to {
      padding-top:0%;
  }
}

@keyframes up-down {
  from{
    transform: translateY(10px);
  }
  50%{
    transform: translateY(0px);
  }
  to{
    transform: translateY(10px);
  }
}

@keyframes floating {
  from {
      filter: blur(0);
  }
  50% {
      filter: blur(.2rem);
  }
  to {
      filter: blur(2rem);
  }
}