.main-pic{
    background-image: url(o1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    display: flex;
    width:100%;

    .header{
        font-size: 200px;
        text-align: center;
        display: block;
        position: relative;
        color: white;
        margin-top: 15vh;

        @media screen and (max-width: 1024px) {
            font-size: 120px;
            margin-top: 17vh;
        }
        @media screen and (max-width: 768px) {
            font-size: 100px;
            margin-top: 20vh;
        }

        @media screen and (max-width: 540px) {
            font-size: 75px;
            margin-top: 22vh;
        }
 
        @media screen and (max-width: 425px) {
            font-size: 55px;
            margin-top: 25vh;
        }
        
        @media screen and (max-width: 375px) {
            font-size: 50px;
            margin-top: 20vh;
        }
        
        @media screen and (max-width: 320px) {
            font-size: 40px;
            margin-top: 20vh;
        }
    }
    
}