.main-pic{
    background-image: url(o1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width:100%;
    align-items: center;
    display: flex;
    .header{
        font-size: 8rem;
        color: white;
        margin-bottom: 10vh;
        justify-content: center;
        animation-name: slide-in-to-top;
        animation-duration: 1.5s;
        @media screen and (max-width: 1024px) {
            font-size: 6rem;
        }
        @media screen and (max-width: 600px) {
            font-size: 4rem;
        }
        @media screen and (max-width: 400px) {
            font-size: 3rem;
        }
    }
}